<% layout("/layouts/boilerplate") %>
  <div class="row justify-content-center listing-form-shell">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 ui-panel">
      <h3 class="mt-3 mb-4">Create a New Listing</h3>
      <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required />
        </div>
        <div class="valid-feedback">Title is good!</div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required></textarea>
          <div class="invalid-feedback">Please enter the short description!</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>

        <div class="row g-3">
          <div class="mb-3 col-12 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1,200" class="form-control" required />
            <div class="invalid-feedback">Price Should be valid!</div>
          </div>
          

          <div class="mb-3 col-12 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
            <div class="invalid-feedback">Country name should be valid!</div>
          </div>
          
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="Belagavi" type="text" class="form-control" required />
          <div class="invalid-feedback">Location should be valid!</div>
        </div>
        
        <div class="d-grid d-sm-flex mt-4">
          <button class="btn btn-dark add-btn px-4">Add</button>
        </div>

      </form>
    </div>
  </div>